!!!
%html
  %head
    %title Vvvacademy
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %script{:src => "http://code.highcharts.com/highcharts.js"}
    %script{:src => "http://code.highcharts.com/modules/exporting.js"}
    = render 'layouts/header'
    .container-fluid
      = yield
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}

